.dropdown {
  position: absolute;
  z-index: 4;
  width: 100%;
  top: 70;
  background-color: colors(main);
  // padding: 1rem;
  transform: translateY(-1000px);
  transition: all 0.6s ease-in-out;

  & .search {
    border-top: 2px solid black;
    margin: 1rem 1rem;
    padding: 0rem 1rem;
    background-color: colors(hover);
    border-radius: 40px;
    border: 2px solid colors(hover);
    display: flex;
    align-items: center;
    color: gray;
    box-shadow: inset 3px -1px 7px -6px rgba(0, 0, 0, 0.75);

    & img {
      width: 1.2rem;
    }

    & div {
      height: 1.2rem;
      background: gray;
      width: 0.1rem;
      margin: 0 1.2rem;
    }
  }
}
