@import "_colors";

@import "_header.scss";
@import "_section.scss";
@import "_dropdown.scss";
@import "_profile-menu.scss";

body {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: colors(hover);
  box-sizing: border-box;
  margin: 0 auto;
  // padding: 0.2rem;
}

.show {
  transform: none;
}

menu.active {
  transform: rotate(180deg);
}

.btn-line.active {
  transition: all 0.5s ease;
  &:nth-child(1) {
    transform: rotate(135deg) translate(8px, 5px);
  }
  &:nth-child(2) {
    transform: rotate(90deg) translate(-2px, 1px);
  }
  &:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -15px);
  }
}

.current {
  color: blue;
  background-color: green;
}
